arxiv
bs4
chromadb
duckdb
duckduckgo_search==5.3.1b1
faiss-cpu
huggingface_hub
ipykernel
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-groq
langchain_chroma
langchain_groq
langchain-huggingface
langchain-ollama
mysql-connector-python
numexpr
openai
pandas
pymupdf
pypdf
python-dotenv
pytube
sentence_transformers
SQLAlchemy
streamlit
unstructured
validators==0.28.1
wikipedia
youtube_transcript_api
langgraph
langsmith
typing
typing_extensions
langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-openai
langchain-groq
arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu
